@charset "utf-8";

a{color:#333;}
body{overflow-x: hidden; overflow-y: hidden;}
#wrap{ width: 100%; height: 100%;}

#headBox{position: relative;  font-family: 'Oleo Script', cursive;
		width: 100%; height: 100vh; margin: auto;
		background-image: url("../../img/bgimg.jpg");
		background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;}

.me{position: absolute; top:0; left:0; bottom:0; right:0; margin: auto;
			width:50%; height:50%; font-size: 8rem; text-align: center;
			color:#fff; line-height: 1;}

.introduce{position: absolute; bottom:18vw; left:0; right:0; margin: auto;
			width: 500px; height: auto; text-align: center; font-size: 1.8rem;
			color:#fff;}

/*.next_Btn{position: absolute; bottom:8vw; left:0; right:0; margin:auto;
		 width: 100px; height:100px;
		animation: updown 1500ms infinite alternate linear;
		}
.next_Btn>button{width: 100%; height: 100%; background-color:inherit;}
.next_Btn>button>i{display: block; font-size: 6rem;}

		@keyframes updown{
			0% { transform: translateY(0) }
			100% { transform: translateY(30px) }
		}*/
 .mouse {position: absolute; bottom:15%; left:0; right:0; margin:auto;
 		 width: 30px; height: 50px; border:2px solid #fff; border-radius:15px; box-sizing:border-box;}

 .wheel {position: absolute; width: 4px; height: 10px; left:50%; transform:translateX(-50%);
            text-indent:-2000px; background-color: #fff; border-radius:10px; 
            animation:mousewheel 1s linear infinite}
 
 @keyframes mousewheel {
     0% {opacity:1; top:0;}
     100% {opacity:0; top:40%;}
 }





#contentBox{width: 100%; height:auto;}
.roundform{width: 100%; height: 100%; /*background-color: #fff;*/ border-radius: 20px;}
/* --------------------------------------- */
.slideBox{width: 100%; height: 100vh; }
.slideBox>ul{position: relative; width:200%; height: 100%;
	background-image: url("../../img/bgimg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;}

.slideBox>ul>li{ position: relative; float: left; width: 50%; height: 100%; 
				box-sizing:border-box; padding:50px; }
.resumeImg{width: 100%; height: 100%; border-radius: 20px;
			background-image: url("../../img/resume.png");
			background-size:contain; background-position: 50% 50%; background-repeat: no-repeat;}





/* --------------------------------------- */

.portpolio{width: 100%; height: 100vh;}
.portpolio>ul{position: relative; width:200%; height: 100%;
	background-image: url("../../img/bgimg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;}

.portpolio>ul>li{position: relative; float: left; width: 50%; height: 100%; 
				box-sizing:border-box; padding:50px; }

.nivea{float:left; width: 60%; height: 100%; border-radius: 20px;
			background-image: url("../../img/iMac_Mockup.png");
			background-size:120%; background-position: 50% 50%; background-repeat: no-repeat;}
.nivea_textBox{float:left; width:30%; height: 100%;
				padding-top:5vw; padding-left: 30px; box-sizing: border-box;}
.nivea_text01{widows: 100%; height: auto; color:#333;}
.nivea_text01>dt{font-weight: bold; font-size: 1.3rem; margin-bottom: 10px; padding-left:40px;}
.nivea_text01>dd{font-size: 1.1rem; margin-bottom: 15px;}

.nivea_text01>dd{text-indent: 10%;}
.nivea_text01>dd:nth-child(3){margin-top: 30px;}
.nivea_text01>dd:nth-child(4){margin-bottom: 5px; text-indent: 10%;}
.nivea_text01>dd:nth-child(5){text-indent: 27%; margin-bottom: 5px;}
.nivea_text01>dd:nth-child(6){text-indent: 27%;}
.nivea_text01>dd:nth-child(7){text-indent: 1%;}

.nivea_text01>dd:nth-child(8){text-indent: 27%;}
.nivea_text01>dd:nth-child(9){text-indent: 27%;}
.nivea_text01>dd:nth-child(10){text-indent: 27%;}
.nivea_text01>dd:nth-child(11){text-indent: 27%;}
.nivea_text01>dd:nth-child(12){text-indent: 27%;}
.nivea_text01>dd:nth-child(13){text-indent: -2%;}
.nivea_text01>dd:nth-child(14){text-indent: -5%;}




/* --------------------------------------- */


#footBox{position: relative; width: 100%; height: 100vh;
	background-image: url("../../img/bgimg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;}
.myinfo{position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;
		 width: 94.5%; height: 88%; background-color: #fff;}


/* --------------------------------------- */

/* 버튼 애니메이션 */

.b1{position: absolute; right:100px; top:48%; font-size: 5rem;
		background-color: inherit; color:#fff;
		animation: rBtn 1500ms infinite alternate linear;}
		@keyframes rBtn {
			0% { transform: translateX(0); }
			100% { transform: translateX(30px); }
		}

.b2{position: absolute; left:100px; top:48%; font-size: 5rem;
		background-color: inherit; color:#fff;
		animation: lBtn 1500ms infinite alternate linear;}
		@keyframes lBtn {
			0% { transform: translateX(0); }
			100% { transform: translateX(-30px); }
		}


